body
{
    margin-right: 10%;
    margin-left: 10%;
    background-color: #505150;
    color:antiquewhite;
}

h1
{
    margin-bottom: 5%;
    font-size: 60px;
}

p
{
    font-size: 30px;
}

.container
{
    display: flex;
}

.container div
{
    margin: auto;
}

.inactive
{
    opacity: 0.3;
}

img:hover
{
    border: 5px solid blue;
}

p:hover 
{
    color: #94d1df;
}

h1:hover
{
    color: navy;
}

.moon
{
    width: 40%;
    height: auto;
}